body{
    background-color:rgb(74, 147, 216);
}
.main, .text{
    color:rgb(181, 172, 39);
}
.main{
    font-size: 30px;
}
.top{
    font-size: 100px;
    font-family: fantasy;
}
h1{
    text-align: center;
}
h2{
    color:azure;
    text-align: center;
}
div{
    text-align: center;
}
img{
    text-align: center;
}
div.border{
    margin-bottom: 50px;
    border-top: groove seagreen 25px;
    border-bottom: groove darkseagreen 25px;
    border-left: groove turquoise 25px;
    border-right: groove cyan 25px;
}